<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minutes of Meeting</title>
</head>

<body>
    <%- include('header') -%>
        <div class="container justify-content-center mt-5 d-flex flex-row">
            <div class="container justify-content-center mt-5">
                <h2>
                    Summarise Meetings Quickly with Minutes of Meeting
                </h2>
                <p>
                    The project aims to develop a natural language processing (NLP) based
                    meeting summary generator that can automatically summarize the key points
                    discussed in a online meeting (Google Meet). The system will use advanced NLP
                    techniques such as text classification, sentiment analysis, and named entity
                    recognition to extract important information from the meeting transcript and
                    generate a concise summary of the key points discussed. The summary will be
                    presented in a user-friendly format, making it easy to understand and access the
                    important information discussed in the meeting. This project will help to improve the
                    efficiency and productivity of organizations by reducing the time and effort required
                    to manually summarize meeting notes.

                </p>
            </div>
        </div>

        <div class="container text-center">
            <div class="container">
                <a href="/home/upload" class="btn btn-outline-primary" role="button">Get Started</a>
            </div>
        </div>
</body>

</html>