<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Transcript</title>
</head>

<body>
    <%- include('header') -%>
        <div class="container text-center my-5">
            <div>
                <h1>Upload Your File</h1>
            </div>
            <div class="input-group my-5 p-5">
                <input type="file" class="form-control">
            </div>
            <div>
                <button type="button" class="btn btn-outline-success">Upload Transcript</button>
            </div>
        </div>

</body>

</html>